<header id="header">
    <div class="header-top">
        <div class="container">
              <div class="row justify-content-center">
                  <div id="logo"></div>
              </div>			  					
        </div>
    </div>
    
    <div class="row align-items-left justify-content-left d-flex">			
        <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li>
                <h1><a href="{% url 'menu-create' %}" class="primary-btn text-uppercase" >Add Food Items</a> </h1>
              </li>
    </div>
    <!-- #navbar -->          
    {% include './navbar.html' %}
    <!-- #End navbar -->
    
</header>